<style>
  nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(32, 5, 124);
    color: blue;
    padding: 10px;
  }

  nav a {
    color: aliceblue;
    text-decoration: none;
  }

  nav a.active {
    color: red;
    text-decoration: none;
  }
</style>

<nav>
  <a
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Contador</a
  >
  <a
    [routerLink]="['/hero']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Hero</a
  >
  <a
    [routerLink]="['/dragonballsuper']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >DragonBallSuper</a
  >
</nav>
